<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <h1>Login Page</h1>
        <label>Username</label>
        <input placeholder="username" type="text" name="username" id="">
        <label>Password</label>
        <input placeholder="password" type="text" name="password" id="">
        <button>Login</button>
    </form>
</body>
</html>