<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <h1><center>REGISTER USER</center></h1>
        <label>Username</label>
        <input name="username" placeholder="Username" type="text">
        <label>Mobile</label>
        <input type="text" name="mobile"  placeholder="Mobile" id="">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email"id="">
        <label>Address</label>
        <input type="text" name="address" placeholder="Address" id="">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" id="">

        <button type="submit">Register</button>
  </form>  
    
</body>
</html>